# *.mp4 filter=lfs diff=lfs merge=lfs -text
# Default: sab mp4 files LFS me jaenge
# *.mp4 filter=lfs diff=lfs merge=lfs -text

# Lekin ek specific folder ke mp4 files normal Git me track hon (jaise public/assets/nonlfsvideos/)
public/assets/nonlfsvideos/*.mp4 !filter !diff !merge !text
